.footer-nav {
  &__section {
    padding: 20px;
    border-bottom: 1px solid $colorBaseSecondary;

    @media ($mediaTablet) {
      border-bottom: none;
      padding: 0;
      flex: 1;
    }
  }

  &__title {
    color: $colorBasePrimary;
    letter-spacing: 0.28px;
    margin: 0 0 12px 0;
    font-size: 14px;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--contacts {
      gap: 12px;
      padding-top: 8px;
    }
  }

  &__link {
    @include link-reset;
    @include ease(color);
    display: block;
    text-transform: uppercase;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;

    &--address, &--phone {
      text-transform: initial;
      font-weight: 400;
      letter-spacing: initial;
      padding: 0 0 0 19px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 3px;
        display: inline-block;
        left: 0;
        width: 13px;
        height: 17px;
        background-color: $colorBasePrimary;
      }

      @media ($mediaTablet) {
        max-width: max(175px, 20vw);
      }
    }

    &--address::before {
      mask-image: url("../../images/icons/stack.svg#pin-address");
    }

    &--phone::before {
      mask-image: url("../../images/icons/stack.svg#phone");
    }

    @media ($mediaTablet) {
      &:hover, &:focus-visible {
        color: $colorBasePrimary;
      }

      &:active {
        color: $colorPrimaryDarker;
      }
    }
  }
}
