*, *::after, *::before {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  @include regularText;
  padding-top: 60px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  min-width: 320px;

  @media ($mediaDesktop) {
    padding-top: 80px;
  }
}

.page__content {
  flex: 1;
  background-color: gray;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  @include container;
}

.display-desktop-only {
  @media ($mediaOnlyDesktop) {
    display: none;
  }
}

