.page {
  height: 100%;

  &__body {
    @include regularText;
    padding-top: 60px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
    min-width: 320px;

    @media ($mediaTablet) {
      padding-top: 80px;
    }
  }

  &__content {
    flex: 1;
  }
}
